@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: rgb(255, 255, 123);
    position: relative;
}

main{
    margin: 20px;
}

.container-md{
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    padding: 50px;
    background-color: white;
    height: 100%;
}

.btn0{
    margin: 5px;
}

@media  screen and (min-width: 800px) {
    .container-md{
        width: 100%;
    }
}